@import "tailwindcss";
@import "tailwindcss" prefix(dsc);

::selection {
  background-color: #271577;
  color: #f3f3f3;
}

/* For older versions of Firefox, use the vendor prefix */
::-moz-selection {
  background-color: #271577;
  color: #f3f3f3;
}
